.left-title{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.title{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
span{
    
    font-weight: bold;
    color: #64ffda;
}
p{
    font-size: 20px;
    color: #8892b0;
}
.banner{
    display: inline-block;
    margin-top: 250px;
    margin-bottom: 150px;
}
.banner img{
    width: 75%;
    height: 400px;
    border-radius: 100%;
    margin: 10px; display: inline-block;

}
.left-section{
    display: inline-block;
    margin-left: 90px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.right-section{
    display: inline-block;
    position: absolute;
    left: 65%;
    top: 270px;
    
}
footer{
    text-align: center;
    color: #8892b0;
    margin-top: 50px;
}
.button{
    background-color: #64ffda;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}