form {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
}



.login-box {
    background: rgba(0, 0, 0, 0.35);
    padding: 40px 50px;
    border-radius: 20px;
    width: 380px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0, 255, 140, 0.15);
}


.login-header h1 {
    color: #4dff88;
    font-size: 38px;
    margin-bottom: 20px;
}

.login-header span {
    color: white;
}


.input-field {
    width: 90%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    box-shadow: 0 0 25px rgba(0, 255, 140, 0.30);
}


.forgot {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 15px;
    color: white;
    
}

.forgot a {
    color: #4dff88;
    text-decoration: none;
}

.sumbit-btn {
    width: 100%;
    height: 45px;
    background: #4dff88;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}


.input-submit label {
    margin-top: -33px;
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
    display: block;
}


.sign-up-link {
    margin-top: 15px;
    color: white;
}

.sign-up-link a {
    color: #4dff88;
    font-weight: bold;
    text-decoration: none;
}


span{
    color: #64ffda;
    font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}